################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BackEnd/obj
/.vs/ConferencePlanner/v16
/BackEnd/bin/Debug/netcoreapp3.0
/Domain/bin/Debug/netcoreapp3.0
/Domain/obj
/.vs/ConferencePlanner
