################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BackEnd/obj
/.vs/ConferencePlanner/v16
/BackEnd/bin/Debug/netcoreapp3.0
/Domain/bin/Debug/netcoreapp3.0
/Domain/obj
/.vs/ConferencePlanner
/ConferenceDTO/bin/Debug/netstandard2.0
/ConferenceDTO/obj
/FrontEnd/obj
/FrontEnd/wwwroot/lib
/FrontEnd/bin/Debug/netcoreapp3.0
/bin/Debug
/obj
